<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="container">
    <h1 class="center">This is about me!</h1>
   </div>
  </body>
</html>
